<div class="ui center aligned two column grid" style="background:white">
    <div class="six wide column landing-c1">
        <h1>Welcome#index</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe provident voluptatum recusandae nam quisquam doloribus consectetur ea, optio nihil veritatis natus et officiis! Dolorem incidunt, minima neque quod illum ipsam.</p>
        <div class="ui two column grid">
            <div class="eight wide column">
                <button class="land-b-l fluid secondary huge ui button ">
                    <%= link_to 'Create Poll', new_organizer_path, class: "land-link" %>
                </button>
            </div>
            <div class="eight wide column">
                <button class="huge ui inverted secondary fluid button land-b-r">
                    How it works
                </button>
            </div>
            
        </div>
    </div>
    <div class="ten wide column landing-c2">
        <%=image_tag("lan.jpg", alt: "Logo", class: "land-img")%> 
    </div>  
</div>


