<div class="ui center aligned two column grid" style="background:white">
    <div class="six wide column landing-c1">
        <h1>Welcome</h1>
        <p>This is an application for fast secure and transparent polls, surveys, elections, and any social assignment that 
        needs the views of others.</p>
        <div class="ui two column grid">
            <div class="eight wide column">
                <button class="land-b-l fluid secondary huge ui button ">
                    <%= link_to 'Create Poll', new_organizer_path, class: "land-link" %>
                </button>
            </div>
            <div class="eight wide column">
                <button class="huge ui inverted secondary fluid button land-b-r">
                   <%= link_to 'How it works', welcome_how_it_works_path, class: "land-link" %>
                </button>
            </div>
            
        </div>
    </div>
    <div class="ten wide column landing-c2">
        <%=image_tag("lan.jpg", alt: "Logo", class: "land-img")%> 
    </div>  
</div>


