

<% if poll.end_at > DateTime.now %>
        <div class="ui four column grid center alaigned" style="margin-top:5px;">
            <h1  style="margin:auto">Poll Ends In</h1>
            <div class="row" id="clockdiv">
            <div class="">
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div class="">
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div class="">
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div class="">
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
            </div>
        </div>
    <% else %>
    <div class="ui container">
        <h1  style="text-align:center">Poll Ended</h1>
    </div>
        
    <% end %>

<script>
function getTimeRemaining(endtime) {
  const total = Date.parse(endtime) - Date.parse(new Date());
  const seconds = Math.floor((total / 1000) % 60);
  const minutes = Math.floor((total / 1000 / 60) % 60);
  const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
  const days = Math.floor(total / (1000 * 60 * 60 * 24));
  
  return {
    total,
    days,
    hours,
    minutes,
    seconds
  };
}

function initializeClock(id, endtime) {
  const clock = document.getElementById(id);
  const daysSpan = clock.querySelector('.days');
  const hoursSpan = clock.querySelector('.hours');
  const minutesSpan = clock.querySelector('.minutes');
  const secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    const t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  const timeinterval = setInterval(updateClock, 1000);
}

const deadline = new Date("<%= @poll.end_at %>");
initializeClock('clockdiv', deadline);

</script>